a {
  text-decoration: none;
  color: #03a87c;
}

a:hover {
  text-decoration: none;
  color: #0c7a5c;
}

.post {
    width: 100%;
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom:15px;
}

.post-title-input {
  border: none;
  resize: none;
  margin: 0.67em 0;
  height: 2em;
  width: 100%;
  font-size: 2.6em;
}

.medium-editor-placeholder-relative {
  color: lightgray;
  font-style: normal;
}

.navbar {
  padding-top: 1.5em;
  height: 6em;
}

.navbar-title {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: 0 auto;
  z-index: 0;
  font-size: 1.5em;
}

.navbar-right,
.navbar-left {
  position: relative;
  z-index: 1;
}

.navbar-right>a{
    margin-right: 6px;
}

.btn-nav {
  border-radius: 0.5em;
  border-style: solid;
  padding: 0.5em 1em;
  background-color: transparent;
}

.btn-register {
  color: #03a87c;
  border-color: #03a87c;
}

.btn-register:hover {
  color: #0c7a5c;
  border-color: #0c7a5c;
  text-decoration: none;
}

.btn-login {
  color: #03a87c;
  margin-right: 2em;
}

.btn-login:hover {
  text-decoration: none;
  color: #0c7a5c;
}

.date {
  color: grey;
}

.welcome {
  margin-right: 2em;
}

#featured {
  position: relative;
  max-height: 400px;
  width: 100%;
}

#id_featured_image {
  color: transparent;
}

a > img:hover {
  opacity: 0.7;
}

.comment-container {
  width: 50%;
  padding: 1em;
}

.comment-form-container {
  width: 50%;
}

#id_content {
  height: 3em;
}

.comment-form.asteriskField {
  display: none;
}

.comment-delete {
  float: right;
}

.panel-head {
  padding: 0 1em;
}

.featured-on-index {
  max-height: 300px;
}

.btn {
  border-radius: 0.5em;
  border-style: solid;
  padding: 0.5em 1em;
  background-color: transparent;
  color: #03a87c;
  border-color: #03a87c;
}

.btn-hover {
  color: #0c7a5c;
  border-color: #0c7a5c;
  text-decoration: none;
}

.collection {
    background-color: #ddd;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 25px;
}

.avatar {
    border-color: #fff;
    border-style: solid;
    border-width: 5px;
    border-radius:200px;
    width: 250px;
    height: 250px;
}